.about_you {
    background: rgba(9, 10, 10, 0.5);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 600px;
    margin: 60px auto;
    font-family: sans-serif;
}

.about_form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about_form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

.about_form button {
    background-color: #10747d;
    color: white;
    border: 1px solid #0d1117;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about_form button:hover {
    background-color: #0d1117;
    border-color: #10747d;
}

.mensaje {
    margin-top: 15px;
    color: #10747d;
    font-weight: bold;
}
