.login-page {
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-image: url('../images/login_fondo.png'); 
}
.login-container {
    background: rgba(27, 52, 52, 0.5);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 400px;
    margin: 50px auto;
    font-family: sans-serif;
}

.login-form input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #444;
  border-radius: 4px;
  background: #0d1117;
  color: white;
}

.login-btn,
.toggle-btn {
  background-color: #0d1117;
  color: white;
  border: 1px solid #444;
  padding: 8px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.login-btn:hover,
.toggle-btn:hover {
  border-color: #10747d;
  background-color: #1c2128;
}

.login-message {
  margin-top: 15px;
  font-size: 14px;
  color: #ccc;
}
