.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d1117;
    padding: 10px 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 150px;
    height: 100px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #10747d;
}
.usuario-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.usuario button {
    background-color: #0d1117;
    border: 2px solid #0d1117;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.usuario button:hover {
    border-color: #10747d;
}