.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--navbar-bg);
    padding: 10px 20px;
    color: var(--text-color);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 150px;
    height: 100px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--accent-color);
}

.usuario-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.usuario-container button {
    background-color: var(--navbar-bg);
    border: 2px solid var(--navbar-bg);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.usuario-container button:hover {
    border-color: var(--accent-color);
}
.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.usuario button {
    background-color: var(--navbar-bg);
    border: 2px solid var(--navbar-bg);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.usuario button:hover {
    border-color: var(--accent-color);
}
